<div class="row">
  <div class="col">
    <h2>About Wino911</h2>
    <p> Wino911 helps you find the closest place that serves wine to quench your thirst. Directions are provided to guide you to the destination. If you like the place you can save it to your favorites list. </p>
  </div>
</div>

