<% include nav %>

<% favorites.forEach(function(favorite){ %>
<ul class="list-group">
<li class="list-group-item business"><%=favorite.business %><span class="address"><%= favorite.address%></span></li>
<% }); %>
</ul>


