<% include nav %>
<% favorites.forEach(function(favorite){ %>
<ul class="list-group">
  <li class="list-group-item business">
   <a href="/favorites/<%=favorite.id %>" type="button" class="btn btn-danger btn-sm" id="delete-favorite">x</a>
   
    <%=favorite.business %>
    <span class="address"><%= favorite.address%></span>
  </li>

<% }); %>
</ul>


