
<% include nav %>
<h1>Find Wine Now</h1>

    <div id="map"></div>
    <div id="out"></div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD3mObrN3ysWRoXeSZUYRaU5PyPKnk7d4&libraries=places" async defer></script>

<!--  -->

<button class="btn btn-danger" id="search_btn">Find Now</button>
</form>


<div id="out"></div>